<mat-card *ngIf="teaDetail" class="mat-elevation-z8">
    <mat-card-header>
        <mat-icon mat-card-avatar>
            emoji_food_beverage
        </mat-icon>
        <mat-card-title>{{teaDetail.reference}}</mat-card-title>
        <mat-card-subtitle>{{teaDetail.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <br>

        <button mat-button color="primary" (click)="goToAddStock()">ajouter du stock</button>
        <button mat-button color="primary" (click)="goToOutStock()">supprimer du stock</button>
        <br>
        <br>
        <app-table-stock *ngIf="teaDetail.stocks" [stocks]="teaDetail.stocks"></app-table-stock>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">modifier le thé</button>
        <button mat-button color="accent">supprimer le thé</button>
    </mat-card-actions>
</mat-card>

<h1 *ngIf="!teaDetail" id="errorTea"> Oups une erreur est survenue.. Le thé existe-t-il toujours ?</h1>