mat-card {
  width: 90%;
  margin: auto;
}
#errorTea {
  text-align: center;
}
#divStockLog {
  display: flex;
  flex-grow: grow;
}
app-table-stock {
  padding-top: 10px;
}
app-table-stock,
app-log-tea-detail {
  flex: 1;
  max-height: 450px;
  overflow: auto;
}
