<mat-toolbar color="primary">
    <div fxFlex gdGap="20px" fxLayout="row">
        <mat-icon>emoji_food_beverage</mat-icon>

        <nav>
            <a routerLink="/">Liste thés</a>
        </nav>
        <nav>
            <a routerLink="/detail">Ajouter un thé</a>
        </nav>
        <nav>
            <a routerLink="/sortirStock">Sortir du stock</a>
        </nav>
        <nav>
            <a routerLink="/historique">Historique</a>
        </nav>
    </div>
    <div fxFlex fxLayout="row" gdGap="20px" fxLayoutAlign="end">
        <nav>
            <a routerLink="/profil">
                <mat-icon>account_circle</mat-icon>
            </a>
        </nav>
    </div>
</mat-toolbar>