<mat-card fxFlex="30%">
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Stock">
                <app-stock-form (progressBarEvent)="progressBar = $event"></app-stock-form>
            </mat-tab>
            <mat-tab label="Thé">
                <app-tea-form (progressBarEvent)="progressBar = $event"></app-tea-form>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>