<div *ngIf="isLoggedIn()">
    <app-logout></app-logout>
</div>
<mat-card fxFlex="50%" *ngIf="!isLoggedIn()">
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Connexion">
                <app-login (progressBarEvent)="progressBar = $event"></app-login>
            </mat-tab>
            <mat-tab label="Inscription">
                <app-inscription (progressBarEvent)="progressBar = $event"></app-inscription>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>